body {
  cursor: url("/images/mouse.cur"), auto;
}
.sidebar {
  left: -15rem;
  width: 15rem;
}
.sidebar.on {
  left: 0;
}
.content.on {
  margin-left: 0 !important;
}
.navbar-toggle {
  left: 16.5rem;
}
.search-form-wrap {
  right: 15rem;
}
@media (min-width: 768px) {
  .outer,
  .wrap {
    width: 80rem !important;
  }
}
@media (max-width: 768px) {
  .tocbot {
    display: none !important;
  }
  .sidebar {
    left: 0;
  }
  .sidebar.on {
    left: -15rem;
  }
  .content {
    transform: translateX(15rem);
  }
  .content.on {
    transform: translateX(0);
  }
}
